body {
	padding: 0;
	margin:0;
}

table {
	float:left;
	margin: 10px;
	width:initial !important;;
	border: 0;

}

td {
	padding: 3px;
	border: 1px solid black;
}

td.table-header {
	background-color: #999;
	color: #000;
}

#overlay {
	margin: auto;
	width: 100%;
	height: 100%;
	background-color: #999999;
	position: fixed;
	opacity: 0.8;
	text-align: center;
	padding-top: 200px;
	font-size: 36px;
	font-weight: bold;
}

.success {
	background-color: green;
}

.fail {
	background-color: red;
}

td.selected {
	background-color: #3e90d5;
}

td.selected.table-header {
	background-color: #214563;
	color: #FFF;
}

#buttons {
	padding: 10px 0 10px 5px;
	float:left;
	width: 140px;
}

#buttons button {
	width: 120px;
	margin: 2px;
	float:right;
}

#buttons-top {
	padding: 10px 0 0px 20px;
	height: 50px;
	width: 100%;
}

#buttons-top button {
	float: left;
	display: inline-block;
	width: 120px;
	margin-right: 5px;
}

#form-import {
	text-align: left:;
	width: 400px;
}

#form-import input, #form-import button {
	float:left;
}